body{
    background-color: bisque;
}
h1{
    margin: auto;
    background-color: rgb(173, 105, 16);
    text-align: center;
    border-radius: 50px;
    margin-top: 20px;
    margin: bottom 20px; 
}
h2{
    text-align: center;
    margin: bottom 20px;
    text-emphasis-color: brown;
}
img{
    width: 300px;
    height: 300px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius:25px ;
    border: 3px solid black;
}
